*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height:100%;
    width: 100%;
    font-family: metropolis;
}

.nav{
    width: 100%;
    height: 8%;
    /* background-color: #454545; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    color: white;
    position: fixed;

    background: rgba(39, 39, 39, 0.7);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
}


.nav h3{
    color: rgb(231, 227, 227);
    font-weight: 200;
    font-size: 11px;
}

.nav2{
    width: 100%;
    height: 14%;
    background-color: #ffffff;
    /* padding-top: 30px; */
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 20px;
    /* gap: 40px; */
    color: rgb(19, 19, 19);
}

.nav2 h4{
    font-weight: 300;
    font-size: 15px;
}

.nav2 h4 span{
    color: rgb(65, 65, 253);
}

.main{
    /* margin-top: 40px; */
    /* padding-top: 30px; */
    width: 100%;
    height: 480px;
    background-color: gainsboro;
    padding: 40px;
    background-image: url(https://www.apple.com/v/home/bc/images/heroes/macbook-air-15/hero_macbook_air_15__x63n8tqcpo2u_mediumtall.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    /* display: flex; */
}

.main h1{
    color: rgb(29, 29, 29);
    font-size: 52px;
    text-align: center;
    /* justify-content: center; */
}

.main h4{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: rgb(29, 29, 29);
    margin-top: 10px;
}

.main h3{
    text-align: center;
    position: absolute;
    left: 39%;
    color: rgb(65, 65, 253);
    margin-top: 15px;
    font-weight: 500;

}

.main span{
    margin-left: 30px;
}

.iphone{
    margin-top: 30px;
    height: 580px;
    width: 100%;
    padding: 40px;
    background-image: url(https://www.apple.com/in/home/images/heroes/iphone-14-pro/hero_iphone14pro_spring__9xo85pm6sbmm_largetall_2x.jpg);
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.iphone h1{
    color: rgb(255, 255, 255);
    font-size: 52px;
    text-align: center; 
}

.iphone h4{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    color: rgb(245, 245, 245);
    margin-top: 10px;
}

.iphone h3{
    text-align: center;
    position: absolute;
    left: 40%;
    color: rgb(65, 65, 253);
    margin-top: 15px;
    font-weight: 400;

}

.iphone span{
    margin-left: 30px;
}

.iphone-14{
    height: 550px;
    width: 100%;
    padding: 40px;
    background-image: url(https://www.apple.com/in/home/heroes/iphone-14/images/hero_iphone14_yellow__eun20sn4imi6_large_2x.jpg);
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.iphone-14 h1{
    color: rgb(19, 19, 19);
    font-size: 52px;
    text-align: center; 
}

.iphone-14 h4{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: rgb(19, 19, 19);
    margin-top: 10px;
}

.iphone-14 h3{
    text-align: center;
    /* position: absolute; */
    /* left: 40%; */
    color: rgb(65, 65, 253);
    margin-top: 15px;
    font-weight: 500;

}

.iphone-14 span{
    margin-left: 30px;
}

.page2{
    width: 100%;
    height: 550px;
    display: flex;
    margin-top: 20px;
    /* background-color: lightblue; */
}


.page4{
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 70px;
}

.avatar-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 550px;
    margin-top: 30px;
    padding-top: 40px;
    margin-right: 20px;
   
}

.text-top h1{
    color: rgb(37, 37, 37);
    font-size: 40px;
    text-align: center;  
}

.text-top h4{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: rgb(36, 36, 36);
    margin-top: 10px; 
}

.text-top h3{
    text-align: center;
    /* position: absolute; */
    /* left: 69%; */
    color: rgb(65, 65, 253);
    margin-top: 15px;
    font-weight: 400;

}


.bottam-img{
    background-image: url(https://www.apple.com/in/home/images/promos/why-switch/chirag/promo_switch_to_iphone__dcdfmymgd5ci_small.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 300px;
}

.ipad-right{
    margin-top: 30px;
    height: 550px;
    width: 50%;
    padding-top: 40px;
    background-image: url(https://www.apple.com/in/home/promos/ipad-pro/images/promo_ipadpro_refresh__evi9utuixwuq_large_2x.jpg);
    background-position: center;
background-repeat: no-repeat;
background-size: cover;  
}

.ipad-right h1{
    color: rgb(247, 247, 247);
    font-size: 40px;
    text-align: center; 
}

.ipad-right h4{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 10px; 
}

.ipad-right h3{
    text-align: center;
    /* position: absolute; */
    /* left: 69%; */
    color: rgb(65, 65, 253);
    margin-top: 15px;
    font-weight: 400;

}

.watch-right h4{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: rgb(245, 245, 245);
    margin-top: 10px;
}

.watch-right h3{
    text-align: center;
    /* position: absolute; */
    /* left: 66%; */
    color: rgb(65, 65, 253);
    margin-top: 15px;
    font-weight: 400;

}

.watch-right span{
    margin-left: 25px;
}


.mac-left{
    margin-right: 20px;
    height: 500px;
    width: 50%;
    padding-top: 40px;
    background-image: url(https://www.apple.com/v/home/bc/images/promos/mac-studio/promo_mac_studio__f6bq9ooh0qaa_large_2x.jpg);
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.mac-left h1{
    color: rgb(19, 19, 19);
    font-size: 40px;
    text-align: center; 
}

.mac-left h4{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: rgb(19, 19, 19);
    margin-top: 10px;
}

.mac-left h3{
    text-align: center;
    /* position: absolute; */
    /* left: 16%; */
    color: rgb(65, 65, 253);
    margin-top: 15px;
    font-weight: 400;
    

}

.mac-left span{
    margin-left: 25px;
}


.watch-right{
    /* margin-top: 30px; */
    height: 500px;
    width: 50%;
    padding-top: 40px;
    background-image: url(https://www.apple.com/in/home/promos/apple-watch-series-8/images/promo_apple_watch_series_8_spring__d9hfvufh7hyu_large_2x.jpg);
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.watch-right h1{
    color: rgb(247, 247, 247);
    font-size: 40px;
    text-align: center; 
}

.watch-right h5{
    color: rgb(170, 0, 0);
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    letter-spacing: 3px;
}

.watch-right h4{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: rgb(245, 245, 245);
    margin-top: 10px;
}

.watch-right h3{
    text-align: center;
    /* position: absolute; */
    /* left: 66%; */
    color: rgb(65, 65, 253);
    margin-top: 15px;
    font-weight: 400;

}

.watch-right span{
    margin-left: 25px;
}


.page3{
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 20px;
}



.page3-left{
    margin-top: 30px;
    margin-right: 20px;
    height: 500px;
    width: 50%;
    padding: 40px;
    background-image: url(https://www.apple.com/in/home/promos/back-to-school-2023/images/promo_bts2023_startframe__exvt2t1iuxme_large_2x.jpg);
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.page3-left h1{
    color: rgb(19, 19, 19);
    font-size: 40px;
    text-align: center; 
}

.page3-left h4{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: rgb(19, 19, 19);
    margin-top: 10px;
}

.page3-left h3{
    text-align: center;
    /* position: absolute; */
    /* left: 19%; */
    color: rgb(65, 65, 253);
    margin-top: 15px;
    font-weight: 300;
}

.page3-left span{
    margin-left: 25px;
}


.page3-right{
    margin-top: 30px;
    height: 500px;
    width: 50%;
    padding: 40px;
    background-image: url(https://www.apple.com/v/home/bc/images/promos/iphone-tradein/iphone_tradein_promo__d5au3rkw5kuq_large_2x.jpg);
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.page3-right h1{
    color: rgb(19, 19, 19);
    font-size: 40px;
    text-align: center; 
}

.page3-right h4{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: rgb(19, 19, 19);
    margin-top: 10px;
}

.page3-right h3{
    text-align: center;
    /* position: absolute; */
    /* left: 63%; */
    color: rgb(65, 65, 253);
    margin-top: 15px;
    font-weight: 300;
    

}

.page3-right span{
    margin-left: 25px;
}


 /* .footer{
    margin-top: 110px;
    width: 100%;
    height: 10%;
    background: rgba( 63, 63, 63, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    align-items: center;
    justify-content: center;
}  */


.footer{
    margin-top: 20px;
    width: 100%;
    height: 750px;
    background-color: rgb(235, 234, 234);
    padding: 40px 200px;
}

.foot-content p{
      font-size: 12px;
      font-weight: 200;
      color: rgb(46, 46, 46);
      line-height: 17px;
      letter-spacing: 1.1px;
}

.foot-content hr{
    margin-top: 20px;
    /* border: 0.5px solid rgb(77, 76, 76); */
}

.footer2{
    width: 100%;
    /* height: 500px; */
    /* background-color: lightblue; */
    display: flex;
    margin-top: 20px;
}

.footer2 li{
    list-style-type: none;
    font-size: 13px;
    margin-top: 7px;
    font-weight: 200;
}

.line1{
    width: 20%;
}
.line2{
    width: 20%;
}
.line3{
    width: 20%;
}
.line4{
    width: 20%;
}
.line5{
    width: 20%;
}

ul .bold{
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 5px;
}


.footer3 p{
   font-size: 11px;
   font-weight: 500;
   margin-top: 40px;
}

.last-footer{
    display: flex;
    justify-content: space-between;
}

.last-footer p{
    margin-top: 15px;
    font-size: 10px;
    font-weight: 600;
}


